@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'datatables.net-bs5/css/dataTables.bootstrap5.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.scss';
@import '/node_modules/select2/dist/css/select2.css';
@import '/node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.css';

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

.container{
    padding-top:   30px !important;
}